body{
  font-family: sans-serif;
  background: #efefef;
}

#container{
  max-width: 800px;
  margin: 0 auto;
}

h1{
  font-size: 3rem;
  line-height: 1.1;
}

p{
  font-size: 1.2rem;
  line-height: 1.5;
}

.code { 
  background-color: #333; 
  color: #fff;
  text-align:left;
}
